@import "bootstrap/scss/bootstrap";

h1 {
  display: flex;
  justify-content: center;
  color: grey;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.messages {
  position: fixed;
  right: 30px;
  top: 30px;
  z-index: 999;
  width: 300px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 10px;
  .alert {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    .close {
      cursor: pointer;
    }
  }
}
